
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^noradriana\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.noradriana\.com$
RewriteRule ^/?$ "https\:\/\/noradriana\.com\/" [R=301,L]

